@font-face {
    font-family: 'Luckiest Guy';
    src: url('../fonts/luckiestguy-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Patrick Hand SC';
    src: url('../fonts/patrickhandsc-webfont.woff2') format('woff2'),
         url('../fonts/patrickhandsc-webfont.woff') format('woff'),
}
